@font-face {
  font-family: 'norsebold';
  src: url('./assets/fonts/norse-bold-webfont.woff2') format('woff2'),
       url('./assets/fonts/norse-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background: #F9FAFB;
}

a:visited, a {
  color: inherit;
}

.splash-background {
  flex: 2;
  background: url(./assets/sign-up-background.jpg);
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.splash-title {
  width: 100%;
  margin: 0 auto;
  display: flex;
  margin-top: 25vh;
  margin-bottom: auto;
  background: rgba(0,0,0,75%);
  justify-content: center;
  font-family: 'norsebold', sans-serif;
}

.title {
  display: flex;
  font-size: 2rem;
  padding: 1rem;
  gap: 1rem;
}
.title > h1{
  padding-top: 1rem;
}
.title > img {
  height: 6rem;
  width: 5rem;
}
.form-upper {
  padding-left: 4rem;
  padding-right: 6rem;
  box-shadow: 0 4px 5px #DDDDDE;
  padding-bottom: 2rem;
}

.form-section {
  flex: 3;
  align-self: center;
}
.form-section p {
  font-weight: bold;
  font-size: 1.75rem;

}
.splash-title + p {
  margin-bottom: 1rem;
}
.form-section .form-controls {
  display:flex;
  flex-wrap: wrap;
  gap: 3rem;
  row-gap: 1rem;
}
.form-controls input {
  display: block;
  width: 35ch;
  padding-left: 4px;
  height: 1.5rem;
  border: 1px solid #E5E7EB;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline:none;
}
.form-controls input:focus {
  display: block;
  width: 35ch;
  height: 1.5rem;
  border: 1px solid #738DD7;
}
.form-controls label {
  font-size: 0.75rem;
  letter-spacing: 3px;
  font-weight: bold;
  color: #202A38;
}
.form-section strong{
  display: inline-block;
  font-size: 1.75rem;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

form button {
  box-sizing: content-box;
  border: none;
  font-size: 1rem;
  padding: 1rem 2.5rem;
  border-radius: 0.5rem;
  margin-top: 2rem;
  margin-left: 4rem;
  margin-bottom: 2rem;
  color: #F5F6F3;
  background-color: #596D48;
  box-shadow: 0 4px 5px #DDDDDE;
}

form p:last-child { 
  font-size: 1.25rem;
  font-weight: normal;
  margin-left: 4rem;
}

form p:last-child a {
  color: #596D48;
  text-decoration: none;
}
form p:last-child a:visited {
  color: #596D48;
}
.form-section input[type="password"]:user-invalid {
  border-color: red;
}
input[type="password"]:user-invalid + span::after {
  content: "* Passwords do not match";
  color: red;
  font-size: 0.75rem;
}
input[type="password"] + span {
  display: inline-block;
  height: 1rem;
}