@font-face {
  font-family: 'norsebold';
  src: url('./assets/fonts/norse-bold-webfont.woff2') format('woff2'),
       url('./assets/fonts/norse-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background: #F9FAFB;
}

a:visited, a {
  color: inherit;
}

.splash-background {
  flex: 2;
  background: url(./assets/sign-up-background.jpg);
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.splash-title {
  width: 100%;
  margin: 0 auto;
  display: flex;
  margin-top: 25vh;
  margin-bottom: auto;
  background: rgba(0,0,0,75%);
  justify-content: center;
  font-family: 'norsebold', sans-serif;
}

.title {
  display: flex;
  font-size: 2rem;
  padding: 1rem;
  gap: 1rem;
}
.title > h1{
  padding-top: 1rem;
}
.title > img {
  height: 6rem;
  width: 5rem;
}

.form-section {
  flex: 3;
  align-self: center;
  padding-left: 3rem;
  padding-right: 7rem;
}
.form-section p {
  font-weight: bold;
  font-size: 1.75rem;

}

.form-section .form-controls {
  display:flex;
  flex-wrap: wrap;
  gap: 3rem;
  row-gap: 1rem;
}
.form-controls input {
  display: block;
  width: 35ch;
  height: 1.5rem;
}
.form-controls label {
  font-size: 0.75rem;
  letter-spacing: 3px;
  font-weight: bold;
  color: #202A38;
}
.form-section strong{
  display: inline-block;
  font-size: 1.75rem;
  margin-top: 5rem;
  margin-bottom: 1rem;
}
